
.xyz{
    color:rgb(255, 255, 255) !important;
    background-color: rgb(43, 226, 98);
}
.abc{
    font-size:40px;
    color:aquamarine;
}
#myid{
    color: rgb(127, 255, 191);
    background-color: brown;
}
